# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.ruff_cache/
.pytest_cache/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Flet / OS
.DS_Store
*.log
wheels/
